/* General CSS */
html{
    font: normal 14px Verdana;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#root{
    width: 70%;
    min-width: 1000px;
    margin: auto;
    padding: 10px;
}
/* Searchbar */
.header{
    padding: 10px 15px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}
#searchSubmit{
    padding: 9px 5px;
    width:100px
}
#searchField:focus{
    box-shadow: none;
    outline: none;
}
#searchField {
    /* width: 100%; */
    /* width:200px; */
    width:15%;
    min-width: 15%;
    height:45px;
    padding: 8px 30px 8px 5px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f1f1f1;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
input[type=text]{
    background-color: white;
    background-image: url('https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-search-icon-by-vexels.png');
    background-position: 7px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: 18px;
    padding: 10px 40px;
    /* width: 600px; */
    width:50%;
    min-width: 25%;
    height: 47px;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus, #searchField:focus{
    border: 3px solid #555;
}

/* Course Container */
.courseContainer{
    background-color: white;
    padding: 10px 25px;
}
.courseContainer:nth-child(even){
    background-color: #e8eaeb;
}
.courseContainer:last-child{
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}

/* Schedule */
.week {
    background-color: #414245;
    border: #b7b9bd;
    box-sizing:border-box;
    color: white;
    float:left;
    line-height: 1.5em;
    /* margin:auto; */
    width:180px;
    text-align: center;
}
.day{
    background-color: #ebeded;
    box-sizing:border-box;
    color: #3e3e40;
    width:180px;
    height:450px;
    margin:auto;
    border:1px solid #b7b9bd;
}
.day p{
    text-align:start;
}
.dayCourse{
    background-color: #c5e0e0;
    width:100%;
    margin: 5px 0px;
    padding: 10px 0px;
    /* border-style: solid;
    border-color: 3px transparent transparent transparent #59d0eb; */
    border-left: 3px solid #57abc2;
}
.dayCourse p{
    font-size:13px;
}
#backToSearch{
    margin:5% 0px 0px 43.5%;
}